<div class="tf-product-info-title">
    <h5>{{ product.title | escape }}</h5>
</div>

{%  schema  %} 
    {
        "name": "Product title",
        "settings": [],
        "presets": [
            {
                "name": "Product title"
            }
        ]
    }
{% endschema %}