<div class="tf-product-info-trust-seal">
    <div class="tf-product-trust-mess">
        <i class="icon-safe"></i>
        {% if block.settings.text != blank %}
        <p class="fw-6">{{ block.settings.text }}</p>
        {% endif %}
    </div>
    <div class="tf-payment">
        {% for type in shop.enabled_payment_types %}
            <span class="list-payment_icon">
            {{ type |  payment_type_svg_tag }}
            </span>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Guarantee icons",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "title",
            "default": "Safe Checkout"
        }
    ],
    "presets": [
        {
            "name": "Guarantee icons"
        }
    ]
}
{% endschema %}