<div class="tf-product-info-quantity">
    <div class="quantity-title fw-6">Quantity</div>
    <div class="wg-quantity">
        <span class="btn-quantity btn-decrease">-</span>
        <input type="text" class="quantity-product" name="number" value="1">
        <span class="btn-quantity btn-increase">+</span>
    </div>
</div>
{% schema %}
{
    "name": "Quantity",
    "settings": [],
    "presets": [
        {
            "name": "Product quantity"
        }
    ]
}
{% endschema %}