<div class="swiper-slide-item">
    <div class="brand-item-v2">
        {% if block.settings.image %}
        {{ block.settings.image |  image_url: width: 600 |  image_tag: sizes: "100,150,200,250,300,400,500,600", alt: block.settings.image.alt }}
        {% else %}
            {{ 'product-1' |  placeholder_svg_tag }}
        {% endif %}
    </div>
</div>

{% schema %}
    {
        "name": "Brand Item",
        "class": "swiper-slide",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Brand logo"
            }
        ],
        "presets": [
            {
                "name": "Brand Item"
            }
        ]
    }
{% endschema %}
