<div class="product-grid">
    <h1>Collection page</h1>
</div>

{% schema %}
    {
        "name": "Product Grid",
        "enabled_on": {"templates": ["collection"]},
        "settings": [],
        "presets": [
            {
                "name": "Product Grid"
            }
        ]
    }
{% endschema %}