/*------------ footer ---------------- */
.footer .footer-wrap .footer-body {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.footer .footer-wrap .footer-body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  background-color: var(--line);
  height: 1px;
  width: 100%;
  max-width: 1440px;
  transform: translateX(-50%);
}
.footer .footer-wrap .footer-bottom .footer-bottom-wrap {
  padding-top: 21px;
  border-top: 1px solid var(--line);
  padding-bottom: 20px;
}
.footer .footer-wrap .footer-bottom .footer-bottom-wrap .footer-menu_item {
  color: rgb(84, 84, 84);
}
.footer.has-border-full .footer-body::before {
  left: 0;
  max-width: 100%;
  transform: unset;
}
.footer.has-border-full .footer-newsletter .footer-menu_item {
  line-height: 22.4px;
}
.footer .footer-logo {
  margin-bottom: 30px;
}
.footer .footer-heading {
  margin-bottom: 25px;
}
.footer .footer-heading h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.footer .footer-heading-moblie {
  display: none;
}
.footer .footer-menu_item {
  line-height: 30px;
}
.footer .footer-infor ul {
  margin-bottom: 15px;
}
.footer .footer-infor ul li p {
  line-height: 30px;
}
.footer .footer-infor ul li p a {
  color: rgb(84, 84, 84);
  font-weight: 700;
}
.footer .footer-infor > a {
  margin-bottom: 28px;
}
.footer ul.footer-menu-list li a:hover {
  color: var(--primary);
}
.footer .footer-newsletter form {
  margin-top: 27px;
  margin-bottom: 40px;
  position: relative;
}
.footer .footer-newsletter form input {
  height: 55px;
  padding-right: 143px;
}
.footer .footer-newsletter form .button-submit {
  position: absolute;
  top: 7px;
  right: 8px;
}
.footer .footer-newsletter form .button-submit button {
  height: 41px;
  padding-top: 0;
  padding-bottom: 0;
}
.footer.background-black {
  background-color: var(--main);
}
.footer.background-black .footer-newsletter form .tf-btn {
  background-color: var(--white);
  color: var(--main);
}
.footer.background-black .footer-wrap .footer-body::before {
  display: none;
}
.footer.background-black .footer-wrap .footer-bottom .footer-bottom-wrap {
  border-top: 1px solid rgb(48, 48, 48);
}
.footer.background-black .footer-wrap .footer-bottom .footer-bottom-wrap .footer-menu_item {
  color: rgb(161, 161, 161);
}
.footer.background-black .footer-infor p {
  line-height: 22px;
  margin-bottom: 4px;
  color: rgb(161, 161, 161);
}
.footer.background-black .footer-infor p a {
  color: rgb(161, 161, 161);
}
.footer.background-black .footer-infor > a {
  margin-bottom: 28px;
  color: #a1a1a1;
}
.footer.background-black .footer-infor > a::after {
  background-color: #a1a1a1;
}
.footer.background-black .footer-infor > a:hover {
  color: var(--primary);
}
.footer.background-black .footer-infor > a:hover::after {
  background-color: var(--primary);
}
.footer.background-black .footer-heading h6 {
  color: var(--white);
}
.footer.background-black .footer-menu_item {
  color: rgb(161, 161, 161);
}
.footer.background-black .footer-newsletter form input {
  background-color: rgb(44, 44, 44);
  border: 0;
  color: var(--white);
}
.footer.background-black .footer-newsletter form input::placeholder {
  color: var(--white);
}
.footer.background-black .footer-newsletter form .tf-btn {
  border: 0;
}
.footer.bg_green-4 .footer-infor .tf-btn,
.footer.bg_green-4 .footer-infor ul li p {
  color: #606a7a;
}
.footer.bg_green-4 .footer-infor .tf-btn a,
.footer.bg_green-4 .footer-infor ul li p a {
  color: #606a7a;
}
.footer.bg_green-4 .footer-menu_item {
  color: #606a7a !important;
}
.footer.bg_green-4 .footer-newsletter form input {
  background-color: rgb(35, 42, 55);
}
.footer.bg_green-9 * {
  border-color: rgba(235, 235, 235, 0.15) !important;
}
.footer.bg_green-9 .footer-wrap .footer-body::before {
  display: none;
}
.footer.bg_green-9 .footer-infor ul li p {
  color: var(--white) !important;
}
.footer.bg_green-9 .footer-infor ul li p a {
  color: var(--white) !important;
}
.footer.bg_green-9 .footer-infor > a {
  margin-bottom: 28px;
}
.footer.bg_green-9 .footer-heading h6 {
  color: var(--white);
}
.footer.bg_green-9 .footer-menu_item {
  color: var(--white) !important;
}
.footer.bg_green-9 .form-newsletter input {
  border-radius: 60px;
}
.footer.bg_green-9 .form-newsletter button {
  border-radius: 60px;
  background-color: #214332;
}
.footer.background-gray {
  background-color: #F6F6F6;
}
.footer.background-gray .footer-body::before {
  content: none;
}
.footer.has-border .footer-wrap .footer-body {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--line);
}
.footer.has-border .footer-wrap .footer-bottom .footer-bottom-wrap {
  border-top: 0;
}
.footer.has-border .footer-newsletter {
  border-right: 1px solid var(--line);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 123px;
  width: 40%;
}
.footer.has-border .footer-col {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer.has-border .footer-col.footer-col-1 {
  width: 25%;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 90px;
}
.footer.has-border .footer-col.footer-col-2 {
  width: 15%;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
}
.footer.has-border .footer-col.footer-col-3 {
  width: 20%;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
}
.footer.has-all-border .footer-wrap .footer-body {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--line);
}
.footer.has-all-border .footer-wrap .footer-bottom .footer-bottom-wrap {
  border-top: 0;
}
.footer.has-all-border .footer-newsletter {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}
.footer.has-all-border .footer-col {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  border-right: 1px solid var(--line);
}
.footer.has-all-border .tf-social-icon {
  margin-top: 20px;
}
.footer.border-container .footer-body {
  border-bottom: 0 !important;
}
.footer.border-container .footer-body::before {
  width: 1440px;
  left: 50%;
  transform: translateX(-50%);
}
.footer.border-container .footer-body::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  background-color: var(--line);
  height: 1px;
  width: 100%;
  max-width: 1440px;
  transform: translateX(-50%);
}